In [ ]:
import pandas as pd
path = "/content/drive/MyDrive/dataset/Diabetesdata.csv"

In [ ]:
df = pd.read_csv(path) # Try reading with Latin-1 encoding

In [ ]:
Develop a python program read a dataset and perform the following using Pandas
a. Display first 5 rows of the dataset.
b. Display last 5 rows of the dataset.
c. Display the information about the dataset.
d. Display the overview of the values of each column.

In [ ]:
# a. Display first 5 rows of the dataset
print("First 5 rows of the dataset:")
print(df.head())

In [ ]:
# b. Display last 5 rows of the dataset
print("\nLast 5 rows of the dataset:")
print(df.tail())

In [ ]:
# c. Display information about the dataset
print("\nInformation about the dataset:")
print(df.info())

In [ ]:
# d. Display overview of the values of each column
print("\nOverview of the values of each column:")
print(df.describe())

In [ ]:
Develop a python program read a dataset and perform the following using Pandas

a. Display the data excluding the rows with empty or NA values.
b. Replace the NA values using mean of the column.
c. Replace the NA values using median of the column.
d. Display if the dataset has any duplicate entries or not

In [ ]:
# a. Display the data excluding the rows with empty or NA values
cleaned_df = df.dropna()
print("Dataset excluding rows with empty or NA values:")
print(cleaned_df)

In [ ]:
# b. Replace the NA values using mean of the column
mean_filled_df = df.fillna(df.mean())
print("\nDataset with NA values replaced by column mean:")
print(mean_filled_df)

In [ ]:
# c. Replace the NA values using median of the column
median_filled_df = df.fillna(df.median())
print("\nDataset with NA values replaced by column median:")
print(median_filled_df)

In [ ]:
# d. Display if the dataset has any duplicate entries or not
has_duplicates = df.duplicated().any()
print(f"\nDoes the dataset have duplicate entries? {'Yes' if has_duplicates else 'No'}")

if has_duplicates:
    print("\nDuplicate rows:")
    print(df[df.duplicated()])
#there is no duplicate data, in the below code we are adding the row that is already present.

In [ ]:
# Define the new row data
new_row_data = {
    'Pregnant': 6,
    'Glucose': 148,
    'Diastolic_BP': 72,
    'Skin_Fold': 35,
    'Serum_Insulin': None,
    'BMI': 33.6,
    'Diabetes_Pedigree': 0.627,
    'Age': 50,
    'Class': 1
}

# Create a DataFrame from the new row data
new_row_df = pd.DataFrame([new_row_data])

# Concatenate the new row to the original DataFrame
df = pd.concat([df, new_row_df], ignore_index=True)

In [ ]:
# d. Display if the dataset has any duplicate entries or not
has_duplicates = df.duplicated().any()
print(f"\nDoes the dataset have duplicate entries? {'Yes' if has_duplicates else 'No'}")

if has_duplicates:
    print("\nDuplicate rows:")
    print(df[df.duplicated()])

In [ ]:
Develop a python program read a dataset and perform the following using Pandas
a. Visualize the dataset using plot().
b. Draw the Scatter plot for the dataset on any column.
c. Display the scatter plot with different colours.
d. Draw the Histogram for the dataset on any column.

In [ ]:
import pandas as pd
path = "/content/drive/MyDrive/dataset/sample.csv"

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv(path, encoding='latin1')

In [ ]:
plt.figure(figsize=(10, 6))
df.plot(kind='line', subplots=True, layout=(5, 5), figsize=(15, 10), title="Dataset Visualization")
plt.tight_layout()
plt.show()

In [ ]:
# The kind parameter in the plot method of a
# Pandas DataFrame can be used to specify different types of plots.
# Here are some of the common values for the kind parameter and the types of plots they generate:
import pandas as pd
import matplotlib.pyplot as plt

# Sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [5, 4, 3, 2, 1],
    'C': [2, 3, 4, 5, 6]
}
df1 = pd.DataFrame(data)

# Line plot
df1.plot(kind='line')
plt.show()

# Bar plot
df1.plot(kind='bar')
plt.show()

# Histogram
df1.plot(kind='hist')
plt.show()

# Scatter plot
df1.plot(kind='scatter', x='A', y='B')
plt.show()

# Pie plot (for a single series)
df1['A'].plot(kind='pie')
plt.show()

# KDE plot
df1.plot(kind='kde')
plt.show()

In [ ]:
# b. Draw the Scatter plot for the dataset on any column.

import pandas as pd
import matplotlib.pyplot as plt



# Scatter plot for 'Sales' against the DataFrame index
plt.figure(figsize=(10, 6))

plt.scatter(df.index, df['Sales'], c='blue', alpha=0.6)
plt.xlabel('Index')
plt.ylabel('Sales')
plt.title('Scatter Plot: Sales vs Index')

plt.show()
# X-axis: Represents the index (row number) of the DataFrame.
# Y-axis: Represents the Sales values.
# Color: All points are colored blue for simplicity.
# This scatter plot helps in visualizing the distribution and potential patterns of the Sales variable across the dataset.

In [ ]:
# c. Display the scatter plot with different colours.


plt.figure(figsize=(10, 6))# Scatter plot for 'Sales' against the DataFrame index with colors based on 'Order Priority'
# 'Order Priority' is a categorical variable, encode it as numerical values
df['Order_Priority_Code'] = df['Order Priority'].astype('category').cat.codes

scatter = plt.scatter(df.index, df['Sales'], c=df['Order_Priority_Code'], cmap='viridis', alpha=0.6)
plt.xlabel('Index')
plt.ylabel('Sales')
plt.title('Scatter Plot: Sales vs Index with Colors Based on Order Priority')

# Setting up the color bar to display order priority names
order_priorities = df['Order Priority'].astype('category').cat.categories
cbar = plt.colorbar(scatter, ticks=range(len(order_priorities)))
cbar.ax.set_yticklabels(order_priorities)
cbar.set_label('Order Priority')

plt.show()

In [ ]:
# d. Draw the Histogram for the dataset on any column.
# Draw the Histogram for the 'Sales' column

plt.figure(figsize=(10, 6))
df['Sales'].plot(kind='hist', bins=20, edgecolor='black')
plt.xlabel('Sales')
plt.ylabel('Frequency')
plt.title('Histogram: Sales Distribution')
plt.show()

# Draw the bar plot for the 'Region' column
plt.figure(figsize=(10, 6))
df['Region'].value_counts().plot(kind='bar', edgecolor='black')
plt.xlabel('Region')
plt.ylabel('Frequency')
plt.title('Bar Plot: Region Distribution')
plt.show()

In [ ]:
# Create a histogram-like plot for 'Order Priority' with frequency labels
plt.figure(figsize=(10, 6))
hist_data = df['Order_Priority_Code'].plot(kind='hist', bins=len(df['Order Priority'].unique()), edgecolor='black', alpha=0.8)
plt.xlabel('Order Priority')
plt.ylabel('Frequency')
plt.title('Histogram: Order Priority Distribution')

# Setting up custom ticks to display order priority names instead of codes
order_priorities = df['Order Priority'].astype('category').cat.categories
plt.xticks(ticks=range(len(order_priorities)), labels=order_priorities, rotation=45)

# Adding frequency labels to each bar
for patch in hist_data.patches:
    height = patch.get_height()
    plt.annotate(f'{int(height)}',
                 xy=(patch.get_x() + patch.get_width() / 2, height),
                 xytext=(0, 5),  # 5 points vertical offset
                 textcoords="offset points",
                 ha='center', va='bottom')

plt.show()